@font-face {
    font-family: Kanit;
    src: url('fonts/Kanit/Kanit-Regular.ttf');
}
body {
    font-family: 'Kanit', sans-serif;
}
h1{
    font-family: 'Kanit', sans-serif;
}
h2{
    font-family: 'Kanit', sans-serif;
}
h3{
    font-family: 'Kanit', sans-serif;
}
h4{
    font-family: 'Kanit', sans-serif;
}

.txtCenter{
    text-align: center;
}


